* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
    font-size: 1.75em;
	font-weight: bold;
	color: black;
	margin-bottom: 20px;
	
}

body {

  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: light-gray;
  border-radius: 0;
  border: 0;
  line-height: 1.75;
}

.navbar-brand {
  padding: 20px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  
  line-height: 0.75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 5px;
  border:1px;
}
hr {
	margin: 0px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

section {
    background-color: #999999;
    border: 0;
    margin: 0 0 25px 0;
	padding: 20px;
	color: black;
}

section h3 {
    font-size: 1.25em;
	font-weight: bold;
	margin: 10px;
}
.container{
	width: 95%;
	margin: auto;
}

